<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Projet1___VS.Properties.Settings.BDB56Projet1BKGConnectionString"
            connectionString="Data Source=424sql.cgodin.qc.ca,5433;Initial Catalog=BDB56Projet1BKG;Persist Security Info=True;User ID=B56Projet1BKG;Password=Password-BKG;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>